// Style for login & register & reset password & forget password

.auth-background {
    //margin-top: 30px;
    //padding-top: 60px;
    //background-image: url('../../../../images/home/h1.png');
    background-image: url('../../../../images/home/h7.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
}


